@import "./base.css";

.el-scrollbar,
.el-container {
  height: 100%;
}

#app,
.layout-container {
  height: 100vh;
}

.ml-10 {
  margin-left: 10px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}
