@import './base.css';

.el-scrollbar,
.el-container {
  height: 100%;
}

#app,
.layout-container {
  height: 100vh;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.pu-10 {
  padding: 10px 0;
}

.flex {
  display: flex;
}

.block {
  display: block;
}
