@import './base.css';

.el-scrollbar,
.el-container {
  height: 100%;
}

#app,
.layout-container {
  height: 100vh;
}

.ml-10 {
  margin-left: 10px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.bg {
  display: flex;
  background-color: #f3f5f6;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

/* TODO:修改 */
.el-card__body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
